<div class="body">
  <div class="container content-body">
    <div class="row">
      <div class="col-3">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-9">
        <div class="component">
          <div class="component-header">
            Đổi mật khẩu
          </div>
          <div class="component-body">
            <form [formGroup]="formPw" (ngSubmit)="changePass()" appFocusInvalidInput
                  #focusInput="focusInvalidInput">
              <div class="row d-flex-align-center mb-20">
                <div class="col-3">
                  <label class="form-label" for="oldPassword">
                    Mật khẩu hiện tại
                    <span>(*)</span>
                  </label>
                </div>
                <div class="col-9 position-relative">
                  <input type="password" class="form-control" id="oldPassword"
                         placeholder="Nhập mật khẩu hiện tại" formControlName="oldPass">
                  <i class="bi bi-eye-slash icon-eye" id="toggleOldPass"
                     (click)="togglePassword('#oldPassword', '#toggleOldPass')"></i>
                </div>

                <div class="col-3"></div>
                <div class="col-9">
                  <div *ngFor="let validation of validationMessages.password">
                    <div *ngIf="oldPass.hasError(validation.type) && (oldPass.touched || formSubmitted)"
                         class="color-red ml-8 mt-8">
                      {{validation.message}}
                    </div>
                  </div>
                </div>
              </div>
              <div formGroupName="pwGroup">
                <div class="row d-flex-align-center mb-20">
                  <div class="col-3">
                    <label class="form-label" for="newPass">
                      Mật khẩu mới
                      <span>(*)</span>
                    </label>
                  </div>
                  <div class="col-9 position-relative">
                    <input type="password" class="form-control" id="newPass"
                           placeholder="Nhập mật khẩu mới" formControlName="newPass">
                    <i class="bi bi-eye-slash icon-eye" id="toggleNewPass"
                       (click)="togglePassword('#newPass', '#toggleNewPass')"></i>
                  </div>

                  <div class="col-3"></div>
                  <div class="col-9">
                    <div *ngFor="let validation of validationMessages.password">
                      <div *ngIf="newPass.hasError(validation.type) && (newPass.touched || formSubmitted)"
                           class="color-red ml-8 mt-8">
                        {{validation.message}}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row d-flex-align-center mb-20">
                  <div class="col-3">
                    <label class="form-label" for="confirmPass">
                      Nhập lại mật khẩu mới
                      <span>(*)</span>
                    </label>
                  </div>
                  <div class="col-9 position-relative">
                    <input type="password" class="form-control" id="confirmPass"
                           placeholder="Xác nhận mật khẩu mới" formControlName="confirmPass">
                    <i class="bi bi-eye-slash icon-eye" id="toggleConfirmPass"
                       (click)="togglePassword('#confirmPass', '#toggleConfirmPass')"></i>
                  </div>

                  <div class="col-3"></div>
                  <div class="col-9">
                    <div *ngFor="let validation of validationMessages.password">
                      <div *ngIf="confirmPass.hasError(validation.type) && (confirmPass.touched || formSubmitted)"
                           class="color-red ml-8 mt-8">
                        {{validation.message}}
                      </div>
                    </div>
                    <div *ngIf="pwGroup.hasError('passwordNotMatch') && confirmPass.touched" class="color-red mt-8 ml-8">
                      Mật khẩu xác nhận không trùng khớp.
                    </div>
                  </div>
                </div>

              </div>

              <div class="row d-flex-align-center mb-20">
                <div class="col-3">
                  <label class="form-label" for="otp">
                    OTP
                    <span>(*)</span>
                  </label>
                </div>
                <div class="col-9 position-relative">
                  <input type="password" class="form-control" id="otp"
                         placeholder="Nhập mã OTP gồm 6 chữ số" formControlName="otp">
                  <span class="get-otp-txt color-blue" (click)="getOtp()">Lấy mã OTP</span>
                </div>

                <div class="col-3"></div>
                <div class="col-9">
                  <div *ngFor="let validation of validationMessages.otp">
                    <div *ngIf="otp.hasError(validation.type) && (otp.touched || formSubmitted)"
                         class="color-red ml-8 mt-8">
                      {{validation.message}}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row d-flex-justify-center">
                <button class="btn btn-fill btn-save" type="submit" (click)="focusInput.focus()">Lưu thay đổi</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="loading-container">
  <div class="overlay"></div>
  <div class="balls">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
